body,
html {
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 20px;
}

.container::before {
	background-image: url('https://source.unsplash.com/daily?programming');
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	content: '';
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0.8;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background-color: rgba(51, 51, 51, 0.384);
	overflow: hidden;
}

section#time {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0.5rem;
}

.time {
	font-size: 7rem;
	padding: 0.5rem;
}

.greeting {
	font-size: 4rem;
	padding: 0.5rem;
}

.date {
	font-size: 1.2rem;
	padding: 0.5rem;
	position: absolute;
	bottom: 5px;
}

#weather {
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 1.5rem;
}

#city {
	position: absolute;
	top: 5px;
	right: 10px;
	width: 150px;
	padding: 0.5rem;
	border: 0;
	border-radius: 10px;
	background-color: rgba(51, 51, 51, 0.726);
	font-size: 16px;
	text-align: center;
	color: #ffffff;
	outline: none;
}

#city::placeholder {
	opacity: 0.4;
	color: #ffffff;
}

.display-temp {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(51, 51, 51, 0.726);
	position: absolute;
	padding-top: 10px;
	top: 42px;
	right: 10px;
	width: 170px;
	border-radius: 0 0 10px 10px;
	font-size: 0.9rem;
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.3s ease-in;
}

.dropdown #city {
	border-radius: 10px 10px 0 0;
}

.dropdown .display-temp {
	transform: scaleY(1);
}

.weather-icon {
	width: 50px;
}

.description {
	text-transform: capitalize;
}

@media (max-width: 500px) {
	.greeting {
		font-size: 2rem;
	}
}
